
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/styles/loading.css">
    <title>Relay Golf Car Assist</title>
    <script type="text/javascript" >
      setTimeout(function () {
          window.location.reload(1);
      }, 15000);
    </script>
</head>

<body>
  <div class="container">
    <img src="/assets/logo.png" alt="Relay Logo">
      <div class="progress-steps">
        <% for (i = 0; i < form.length; i++) { %>
          <%- form[i] %>
        <% } %>
  </div>
</body>